@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: arial;
}
body,html{
  transition-duration: 1.4s;
  transition-timing-function: ease;
  background-color: #000000;
  overflow-x:hidden;
  height: 100vh;
  width: 100vw;
  color: white;
}
header > h1,h2{
  color: white;
  display: block;
}
@media (max-width: 768px) {
 header > h1, h2 {
    display: none;
    
  }
}
@media (max-width:768px){
  .skills h2{
    display: block;
  }
  .h2{
    display: block;
  }
}
header{
    width: 100%;
    text-align: center;
    height: 300px;
    color: white;
}
header img{
  width: 200px;
  border-radius: 50%;
  height: 200px;
  position: relative;
  
}
nav#menu > ul > li > a{
  text-decoration: none;
  font-weight: bold;
  color: white;
  
}
nav#menu > ul > li{
  width: 30%;
  text-align: center;
  background-color: gray;
  border-top: 1px solid white;
  transition-duration:1s ;
  font-weight: bold;
}
nav#menu > ul > li:hover{
  background-color: darkred;
  
}
nav#menu > ul > li a:hover{
  color: black;
}
span#burguer{
  background-color: rgba(128, 128, 128, 0.5);
  cursor: pointer;
  text-align: center;
  display: block;
  color: white;
  padding: 10px;
}
span#burguer:hover{
  background-color: white;
  color: black;
}
nav#menu{
  display: none;
}

header p {
 font-weight: bolder;
 font-family: serif;
  font-weight: bolder;
  font-size: 1.4em;
  text-shadow: 2px 0px 5px rgba(189, 14, 14, 0.582);
  padding: 5px;
  background-color: #ba200585;
  
}
p > span.col {
  color: red;
  font-weight: bolder;
}
main{
  font-size: 1.1em;
  text-align: center;
}


  /*SOBRE MIM CONFIGURAÇOES*/
 section.sobre h1{
    font-size: 2em;
    padding: 10px;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.479);
    color: whitesmoke;

  }
  section.sobre{
    background-image: linear-gradient(to top, rgb(211, 11, 11), rgb(68, 67, 67));
    width: 100vw;
    height: 70vh;
  }
  section.sobre p{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    padding: 10px;
  }
 
 span.cor{
  color: rgba(207, 8, 8, 0.781);
 }
 .color{
  color: #d63209;
 }
 .color2{
  color: #1339a0;
 }
.colorjs{
  color: #a39421;
}
 ul > li{
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
   color: white;
   padding: 3px;
    position: relative;
    font-size: 1em;
    list-style-type: none;
    
  }
  div.entre{
    position: relative;
    padding-top:15px;
    font-weight: bolder;
    color: black;
    
  }
  div.entre a{
    text-decoration: underline;
    color: black;
  }
  div.entre a:hover{
    text-decoration: none;
    color:  white;
  }
 
 .info input{
  height: 50px;
  width: 150px;
  border-radius:10px ;
  border: none;
  font-weight: bolder;
  font-size: 1.2em;
  transition-duration:0.9s ;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 .info input:hover{
  background-color: #000000;
  color: white;
 }
 /*Sobre mim*/
 .skills h2 {
  padding: 20px;
  font-family:monospace ;
  font-size: 1.8em;
  font-weight: bold;
  text-decoration: overline;
 }
 .skills h2 > b{
  color: red;
  font-weight: bolder;
 }
 .card img{
  width: 70px;
  padding-top: 10px;
 }
 .card{
  border: 1px solid rgba(0, 0, 0, 0.678);
  background-color: white;
  width: 90%;
  margin: auto;
  border-radius: 50%;
 }
 .card a{
  color: red;
  text-decoration: none;
  font-weight: bolder;
 }
 .card a:hover{
  color: black;
  text-decoration: underline;
 }
.card-content{
  background-color: white;
  width: 70%;
  margin: auto;
  color: black;
  padding: 30px;
  border-radius: 50%;
}  
 .card-content p{
  line-height: 1em 1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 /*Configuração do card do projeto*/
 .h2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(73, 73, 73);
  color: white;
  font-weight: bolder;
  
 }
 div.cards {
  width: 200px;
  height: 300px;
  position: relative;
  perspective: 800px;
  margin: 0 auto; /* Adiciona margem automática para centralizar horizontalmente */
  display: flex;
  align-items: center;
  justify-content: center;
}

div.frontcard, div.backcard {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: all 1s;
  border: 2px solid rgba(255, 255, 255, 0.753);
  border-radius: 10px;
 
}
.frontcard{
  background-color: rgb(16, 196, 16);
  color: #fff;
}
.frontcard img{
  width:100%;
  height: 90%;
}
.backcard{
  color: black;
  background-color: white;
  transform: rotateY(-180deg);
}
div.cards:hover .frontcard{
  transform: rotateY(180deg);
}
div.cards:hover .backcard {
  transform: rotateY(0);
}
#fundo{
  background-image: linear-gradient(to bottom,green, gray);
}
.cardsp2{
  
  width: 200px;
  height: 300px;
  position: relative;
  perspective: 800px;
  margin:  auto;  
  display: flex;
  align-items: center;
  justify-content: center;
  
}
div.frontcard2, div.backcard2 {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: all 1s;
  border: 2px solid rgba(255, 255, 255, 0.753);
  border-radius: 10px;
 
}
.frontcard2{
  background-color: rgb(80, 79, 79);
  color: #fff;
}
.backcard2{
  color: black;
  background-color: #fff;
  transform: rotateY(-180deg);
}
div.cardsp2:hover .frontcard2{
  transform: rotateY(180deg);
}
div.cardsp2:hover .backcard2 {
  transform: rotateY(0);
}
.frontcard2 img{
  width: 100%;
  height: 90%;
}
#fundo2{
  background-image: linear-gradient(to bottom, gray,#504F4F );
}
.breve{
  padding: 20px;
  color: red;
  font-size: 1.5em;
}
div.cardsp3 {
  width: 200px;
  height: 300px;
  position: relative;
  perspective: 800px;
  margin: 0 auto; /* Adiciona margem automática para centralizar horizontalmente */
  display: flex;
  align-items: center;
  justify-content: center;
}
div.frontcard3, div.backcard3 {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: all 1s;
  border: 2px solid rgba(255, 255, 255, 0.753);
  border-radius: 10px;

}
.frontcard3{
  background-color: rgb(80, 79, 79);
  color: #fff;
}
.frontcard3 p{
  position: relative;
  top: 42%;
  font-size: 1.3em;
}
.backcard3{
  color: black;
  background-color: #fff;
  transform: rotateY(-180deg);
}
.backcard3 img{
  width: 100%;
  height: 100%;
}
div.cardsp3:hover .frontcard3{
  transform: rotateY(180deg);
}
div.cardsp3:hover .backcard3 {
  transform: rotateY(0);
}
.frontcard3 img{
  width: 100%;
  height: 90%;
}
#fundo3{
  background-image: linear-gradient(to bottom, rgb(216, 11, 11),#442424 );
}
/*config cards projeto final*/

.contac{
  background-color: white;
  width: 100vw;
  height: 16vh;
 
}
.contac img{
  height: 25px;
  width: 40px;
  margin: auto;
  padding-left: 50px;
  padding-top: 20%;
  cursor: pointer;
}
.contac h3{
  color: black;
  text-align: center;
  position: relative;
  top: 40px;
}
